In [27]:
import pandas as pd

In [28]:
pd.options.display.max_colwidth=300

In [29]:
crossfitDF=pd.read_csv("women_open_21.1.csv")
crossfitDF

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108595,108595,GEORGINA,NOELLEN,108565,Germany,Europe,Age 32,CrossFit Neuss,166 cm | 54 kg,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108596,108596,STACEY,MAIDA,108565,United States,North America,Age 36,CrossFit Five Points,65 in | 172 lb,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108597,108597,FIONA,STEEL,108565,United Kingdom,Europe,Age 31,NaN,NaN,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108598,108598,RACHAEL,BUTLER,108565,Canada,North America,Age 34,NaN,130 lb,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108599,108599,VALERIA,MONTERO,108565,United States,North America,Age 21,NaN,60 in,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN

In [30]:
crossfitDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         108600 non-null  int64
 1   first_name         108599 non-null  object
 2   lastname           108597 non-null  object
 3   Placing            108600 non-null  int64
 4   country            108600 non-null  object
 5   continent          108600 non-null  object
 6   Age                108600 non-null  object
 7   affiliate          93538 non-null   object
 8   Height and Weight  50325 non-null   object
 9   points             108600 non-null  int64
 10  21.1               108600 non-null  object
 11  21.1 time          8349 non-null    object
 12  21.2               108600 non-null  object
 13  21.2 time          50690 non-null   object
 14  21.3               108600 non-null  object
 15  21.3 time          8209 non-null    object
 16  21.4               108600 non-null  object
 17  weight             80318 non-null   object
dtypes: int64(3), object(15)
memory usage: 14.9+ MB

In [31]:
del crossfitDF["Unnamed: 0"]

In [32]:
crossfitDF.rename(columns={
    '21.1': '21.1 Scores',
    '21.2': '21.2 Scores',
    '21.3': '21.3 Scores',
    '21.4': '21.4 Scores'
}, inplace=True)

In [33]:
crossfitDF['first_name'] = crossfitDF['first_name'].str.title()
crossfitDF['lastname'] = crossfitDF['lastname'].str.title()

In [34]:
crossfitDF.head()

,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1 Scores,21.1 time,21.2 Scores,21.2 time,21.3 Scores,21.3 time,21.4 Scores,weight
0,Tia-Clair,Toomey,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,Emma,Cary,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,Kara,Saunders,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,Kristi Eramo,O'Connell,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,Mallory,O'Brien,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.

In [35]:
crossfitDF[['Height', 'Weight']] = crossfitDF['Height and Weight'].str.split("|", expand = True)
crossfitDF.head()

,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1 Scores,21.1 time,21.2 Scores,21.2 time,21.3 Scores,21.3 time,21.4 Scores,weight,Height,Weight
0,Tia-Clair,Toomey,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,163 cm,58 kg
1,Emma,Cary,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,64 in,140 lb
2,Kara,Saunders,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,162 cm,158 lb
3,Kristi Eramo,O'Connell,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,62 in,132 lb
4,Mallory,O'Brien,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,63 in,145 lb

In [36]:
#del crossfitDF['Height and Weight']

crossfitDF.rename(columns={
    'first_name': 'First Name',
    'lastname': 'Last Name',
    'country': 'Country',
    'continent': 'Continent',
    'affiliate': 'Affiliate',
    'points': 'Points',
    '21.1 time': '21.1 Reps',
    '21.2 time': '21.2 Reps',
    '21.3 time': '21.3 Reps',
    'weight': 'Weight Lifted'
}, inplace=True)
crossfitDF.head()

,First Name,Last Name,Placing,Country,Continent,Age,Affiliate,Height and Weight,Points,21.1 Scores,21.1 Reps,21.2 Scores,21.2 Reps,21.3 Scores,21.3 Reps,21.4 Scores,Weight Lifted,Height,Weight
0,Tia-Clair,Toomey,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.,163 cm,58 kg
1,Emma,Cary,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.,64 in,140 lb
2,Kara,Saunders,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.,162 cm,158 lb
3,Kristi Eramo,O'Connell,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.,62 in,132 lb
4,Mallory,O'Brien,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.,63 in,145 lb

In [48]:
#del crossfitDF['Height and Weight']
#crossfitDF['Age'] = crossfitDF['Age'].str.replace('Age ', '')
#crossfitDF['Weight Lifted'] = crossfitDF['Weight Lifted'].str.replace('Weight lifted: ', '')
crossfitDF['21.1 Reps'] = crossfitDF['21.1 Reps'].str.replace("reps", '')
crossfitDF['21.2 Reps'] = crossfitDF['21.2 Reps'].str.replace("reps", '')
crossfitDF['21.3 Reps'] = crossfitDF['21.3 Reps'].str.replace("reps", '')
crossfitDF.head()

,First Name,Last Name,Placing,Country,Continent,Age,Affiliate,Points,21.1 Scores,21.1 Reps,21.2 Scores,21.2 Reps,21.3 Scores,21.3 Reps,21.4 Scores,Weight Lifted,Height,Weight
0,Tia-Clair,Toomey,1,Australia,Oceania,27,CrossFit East Nashville,26,6th (11:21),605,11th (9:26),225,1st (7:37),180,8th (230 lbs),230 lbs.,163 cm,58 kg
1,Emma,Cary,2,United States,North America,17,Perform Overcome Excel CrossFit,66,14th (11:48),605,1st (8:51),225,14th (8:28),180,37th (218 lbs),218 lbs.,64 in,140 lb
2,Kara,Saunders,3,Australia,Oceania,31,CrossFit Carv,111,63rd (13:11),605,23rd (9:42),225,20th (8:41),180,5th (232 lbs),232 lbs.,162 cm,158 lb
3,Kristi Eramo,O'Connell,4,United States,North America,32,CrossFit Polaris,189,121st (13:47),605,21st (9:41),225,4th (7:47),180,43rd (217 lbs),217 lbs.,62 in,132 lb
4,Mallory,O'Brien,5,United States,North America,17,Lion Brave CrossFit,211,4th (11:06),605,163rd (10:38),225,2nd (7:38),180,42nd (217 lbs),217 lbs.,63 in,145 lb

In [41]:
crossfitDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   First Name     108599 non-null  object
 1   Last Name      108597 non-null  object
 2   Placing        108600 non-null  int64
 3   Country        108600 non-null  object
 4   Continent      108600 non-null  object
 5   Age            108600 non-null  object
 6   Affiliate      93538 non-null   object
 7   Points         108600 non-null  int64
 8   21.1 Scores    108600 non-null  object
 9   21.1 Reps      8349 non-null    object
 10  21.2 Scores    108600 non-null  object
 11  21.2 Reps      50690 non-null   object
 12  21.3 Scores    108600 non-null  object
 13  21.3 Reps      8209 non-null    object
 14  21.4 Scores    108600 non-null  object
 15  Weight Lifted  80318 non-null   object
 16  Height         50325 non-null   object
 17  Weight         41489 non-null   object
dtypes: int64(2), object(16)
memory usage: 14.9+ MB

In [42]:
crossfitDF['Age'] = crossfitDF['Age'].astype(int)
crossfitDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108600 entries, 0 to 108599
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   First Name     108599 non-null  object
 1   Last Name      108597 non-null  object
 2   Placing        108600 non-null  int64
 3   Country        108600 non-null  object
 4   Continent      108600 non-null  object
 5   Age            108600 non-null  int32
 6   Affiliate      93538 non-null   object
 7   Points         108600 non-null  int64
 8   21.1 Scores    108600 non-null  object
 9   21.1 Reps      8349 non-null    object
 10  21.2 Scores    108600 non-null  object
 11  21.2 Reps      50690 non-null   object
 12  21.3 Scores    108600 non-null  object
 13  21.3 Reps      8209 non-null    object
 14  21.4 Scores    108600 non-null  object
 15  Weight Lifted  80318 non-null   object
 16  Height         50325 non-null   object
 17  Weight         41489 non-null   object
dtypes: int32(1), int64(2), object(15)
memory usage: 14.5+ MB