In [1]:
import pandas as pd

In [7]:
pd.options.display.max_colwidth=300

In [6]:
crossfitDF=pd.read_csv("women_open_21.1.csv")
crossfitDF

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight
0,0,TIA-CLAIR,TOOMEY,1,Australia,Oceania,Age 27,CrossFit East Nashville,163 cm | 58 kg,26,6th (11:21),605 reps,11th (9:26),225 reps,1st (7:37),180 reps,8th (230 lbs),Weight lifted: 230 lbs.
1,1,EMMA,CARY,2,United States,North America,Age 17,Perform Overcome Excel CrossFit,64 in | 140 lb,66,14th (11:48),605 reps,1st (8:51),225 reps,14th (8:28),180 reps,37th (218 lbs),Weight lifted: 218 lbs.
2,2,KARA,SAUNDERS,3,Australia,Oceania,Age 31,CrossFit Carv,162 cm | 158 lb,111,63rd (13:11),605 reps,23rd (9:42),225 reps,20th (8:41),180 reps,5th (232 lbs),Weight lifted: 232 lbs.
3,3,KRISTI ERAMO,O'CONNELL,4,United States,North America,Age 32,CrossFit Polaris,62 in | 132 lb,189,121st (13:47),605 reps,21st (9:41),225 reps,4th (7:47),180 reps,43rd (217 lbs),Weight lifted: 217 lbs.
4,4,MALLORY,O'BRIEN,5,United States,North America,Age 17,Lion Brave CrossFit,63 in | 145 lb,211,4th (11:06),605 reps,163rd (10:38),225 reps,2nd (7:38),180 reps,42nd (217 lbs),Weight lifted: 217 lbs.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108595,108595,GEORGINA,NOELLEN,108565,Germany,Europe,Age 32,CrossFit Neuss,166 cm | 54 kg,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108596,108596,STACEY,MAIDA,108565,United States,North America,Age 36,CrossFit Five Points,65 in | 172 lb,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108597,108597,FIONA,STEEL,108565,United Kingdom,Europe,Age 31,NaN,NaN,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108598,108598,RACHAEL,BUTLER,108565,Canada,North America,Age 34,NaN,130 lb,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN
108599,108599,VALERIA,MONTERO,108565,United States,North America,Age 21,NaN,60 in,374151,94308th (--),NaN,90537th (--),NaN,80806th (--),NaN,108500th (--),NaN